# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Virtual environment
venv/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Byte-compiled / caches
*.pytest_cache/
.coverage

# Editor / OS
*.swp
.DS_Store
.vscode/
.idea/
