<!DOCTYPE html>
<html>
<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <!-- base.html -->
<header>
    <h1><a href="/">Django Blog</a></h1>
    <nav>
        <!-- Add this in your navigation section -->
{% if user.is_authenticated %}
    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
{% else %}
    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
{% endif %}
    </nav>
</header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>